.row{
    margin: 0;
}
.btn{
    border-radius: 4px;
}
.button_wrapper{
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right:15px;
}
.greeting{
    background: linear-gradient(to right,rgb(15, 1, 94),rgb(2, 64, 180),rgb(0, 159, 180));
}
.menu_icon_box{
    position:relative;
    top:10px;
    width:6px;
    right: 5px;

}
.menu_icon{
}