.favourites_wrapper{
    display:grid;
    padding: 15px;
    padding-top: 0px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.favourite_item{
    margin: 0;
}
.icon_box{
    width:30px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
.favourite_item:hover{
    background-color: whitesmoke;
}

