nav{
    background: linear-gradient(to right,rgb(15, 1, 94),rgb(2, 64, 180),rgb(0, 159, 180));
    padding-left: 10px ;
    padding-right: 10px;
}
.titles{
    display:grid;
    grid-template-columns: 11fr 1fr ;
    padding: 15px 15px 15px 15px;
    font-weight:bold;
}

.savings_card_content{
    padding-right: 0px;
    padding-left: 0px;
    display:grid;
    grid-template-columns: 1fr 11fr;
    grid-column-gap: 5px;
    height:65px;
    margin: 0 !important;
    padding:0 !important;

}

.savings_account{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}
.savings_icon_box{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:5px;
}
.savings_icon_box img{
    top:15%;
    left: 50%;
    transform:translateX(-50%);
    position: relative;
    width:40px;
    height:40px;
}
.name_box{
    padding: 20px;
}
.savings_name{
    font-weight:bold;
}

.bottom_navigation{
    display:grid;
    grid-template-columns:  4fr 4fr 6fr 4fr 4fr;
    justify-content: space-between;
    position:fixed;
    top:90vh;
    height:15%;
    width:100%;
    padding: 15px;
}
.navigation_icon_box{
    width: 30px;
    height:30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}
.transact_grey {
    width: 50px !important;
    height: 50px !important;
}
.transact_grey img{
    position:relative;
    top:-20px;
}
.transact_button span{
    position: relative;
    top:-20px;
}
img{
    color:aqua;
}
span{
    font-weight:bold;
    color: grey;
}
.name_box img{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}
a img{
    position: relative;
    top:-60%;
    transform: translateY(80%);
}

.edit_title{
    position: relative;
    left: -15px;
}
.under_thing{
    position: absolute;
    transform: translateX(-50%);
    top: -34px;
    width: 140px;
    height: 50px !important;
}
span, p{
    color:grey;
}