nav{
    background: linear-gradient(to right,rgb(15, 1, 94),rgb(2, 64, 180),rgb(0, 159, 180));
    padding-left: 10px ;
    padding-right: 10px;
}
.titles{
    display:block;
    padding: 15px 15px 15px 15px;
    font-weight:bold;
}

.savings_card_content{
    padding-right: 0px;
    padding-left: 0px;
    display:grid;
    grid-template-columns: 1fr 11fr;
    grid-column-gap: 5px;
    height:65px;
    margin: 0 !important;
    padding:0 !important;

}

.savings_account{
    padding-right: 15px;
    padding-left: 15px;
}
.savings_icon_box{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    padding:5px;
}
.savings_icon_box img{
    top: 50%;
    transform:translateY(-50%);
    position: relative;
}
.name_box{
    padding: 20px;
}
.savings_name{
    font-weight:bold;
}

.bottom_navigation{
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:90vh;
    height:15%;
    width:100%;
    padding: 15px;
}
.navigation_icon_box{
    width: 30px;
    height:30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}