.row{
    margin: 0;
}
.btn{
    border-radius: 4px;
}
.button_wrapper{
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right:15px;
}
.greeting{
    background: linear-gradient(to right,rgb(15, 1, 94),rgb(2, 64, 180),rgb(0, 159, 180));
}
.menu_icon_box{
    position:relative;
    top:10px;
    width:6px;
    right: 5px;

}
.remote_pin{
    padding-bottom: 0;
}
#remote_pin{
    border-style: none;
    
}
#remote_pin:focus{
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.lock_box{
    width:48px !important;
    position:relative;
    top: 20px;
}
